@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans+Thai:wght@500&family=IBM+Plex+Sans:wght@500&family=IBM+Plex+Serif:wght@500&display=swap');

header,
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

p,
footer {
    font-family: 'IBM Plex Serif', sans-serif;
}

code {
    font-family: 'IBM Plex Mono', sans-serif;
}
