@import url("https://template.sagelga.com/styles/stylesheet.css");

:root {
  --font-family: "Anuphan", "IBM Plex Sans", sans-serif;
  --font-family-code: "JetBrains Mono", "IBM Plex Mono", monospace;
  --font-family-monospace: "JetBrains Mono", "IBM Plex Mono", monospace;

  scroll-behavior: smooth;

  --c-brand: #4CAF50;
  --c-brand-light: #CDDC39;
}

// Settings for dark mode
html.dark {
  --c-brand: #388E3C;
  --c-brand-light: #CDDC39;
}
